**Dealing with a large dataset on your computer** is a common challenge for data analysts. If you need to process or filter the data you can set the `chunksize=` argument of pandas `read_csv()` method to loop through and work with manageable chunks of the data.

If for example, you wanted to work with a large data file (HCPS_data.csv) to pull just the rows where the `HCPS Code` is **99213**, you could read that file to a chunk of 100,000 rows at a time, filter each chunk to the rows with the specified code, save the filtered results of each chunk to a list and concatenate them all together at the end. The syntax would look something like this:

```
code_99213_rows =[]

for chunk in pd.read_csv('HCPS_data.csv', chunksize = 100000):
    code_99213_rows.append(chunk[chunk['HCPS Code'] == '99213']) 
               
code_99213_df = pd.concat(code_99213_rows, ignore_index=True)
```
======================================================================   

To shrink the size of a file so that it loads more quickly, converting a text file (CSV) to binary might make sense. In python, you can work with data to minimize its footprint and then store the resulting object (dataframe) as a [pickle](https://docs.python.org/3/library/pickle.html) file.

In [2]:
import pandas as pd
import pickle

In [3]:
%%time
may_trip = pd.read_csv('../data/may_trip.csv')
june_trip = pd.read_csv('../data/june_trip.csv')
july_trip = pd.read_csv('../data/july_trip.csv')
may = pd.read_csv('../data/may.csv')
may.head()

Wall time: 58.6 s

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247000,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247000,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247000,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247000,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247000,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird

In [5]:
may_trip.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01 00:00:00,00:00:20.460000,2019-05-01 00:00:00,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[[36.157235,-86.803612],[36.157235,-86.80362],...",2019-05-02 05:30:23.780000
1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01 00:00:00,00:01:50.090000,2019-05-01 00:00:00,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[[36.15797,-86.77896],[36.15795,-86.77873],[36...",2019-05-02 07:20:32.757000
2,2019-05-01 00:05:55.570000,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01 00:00:00,00:03:47.363333,2019-05-01 00:00:00,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[[36.155068,-86.782124],[36.156597,-86.78675]]",2019-05-02 05:30:24.530000
3,2019-05-01 00:05:55.570000,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01 00:00:00,00:04:21.386666,2019-05-01 00:00:00,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[[36.149741,-86.779344],[36.149741,-86.779327]...",2019-05-02 05:30:24.237000
4,2019-05-01 00:05:55.570000,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01 00:00:00,00:04:27.796666,2019-05-01 00:00:00,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[[36.177699,-86.786477],[36.177711,-86.786469]...",2019-05-02 05:30:24.207000

In [ ]:


### Now try to reduce the size of the file
- objects require the most space

### Now try to reduce the size of the file
- objects require the most space

In [4]:
may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20292503 entries, 0 to 20292502
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  object
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   sumdtype     object
 5   chargelevel  float64
 6   sumdgroup    object
 7   costpermin   float64
 8   companyname  object
dtypes: float64(4), object(5)
memory usage: 1.4+ GB

#### convert the company name to an integer 
- find the unique company names
- assign each company an integer (you can use a dictionary for this step)
- update the `companyname` column to store the integer id for each company

In [ ]:
may.companyname.unique()

In [ ]:
company_dict = {'Bird':0, 'Lyft': 1, 'Gotcha': 2, 'Lime': 3, 'Spin': 4, 'Jump': 5, 'Bolt': 6}

In [ ]:
may.companyname = may.companyname.replace(company_dict)

#### next convert `pubdatetime` to a datetime

In [ ]:
may.pubdatetime = pd.to_datetime(may.pubdatetime)
may.head(2)

#### Next remove unneeded data
#### keep just the scooters

In [ ]:
may.sumdgroup.unique()

In [ ]:
may_scooters = may.loc[may.sumdgroup.isin(['scooter', 'Scooter'])]

#### keep just the columns we want to work with

In [ ]:
may_scooters = may_scooters[['pubdatetime', 'latitude', 'longitude', 'sumdid', 'chargelevel', 'companyname']]

#### check `.info()` again

In [ ]:
may_scooters.info()
may_scooters.head(5)

#### The only object datatype remaining is sumdid (an alphanumeric unique identifier)
- time to pickle

In [ ]:
may_scooters.to_pickle("../data/may.pkl")

In [ ]:
%%time
may_test = pd.read_pickle("../data/may.pkl")

In [ ]:
may_scooters.shape

In [ ]:
# creating subsets of the 7 different platforms

In [ ]:
bird_sub = may_scooters.query('companyname == 0')
lyft_sub = may_scooters.query('companyname == 1')
gotcha_sub = may_scooters.query('companyname == 2')
lime_sub = may_scooters.query('companyname == 3')
spin_sub = may_scooters.query('companyname == 4')
jump_sub = may_scooters.query('companyname == 5')
bolt_sub = may_scooters.query('companyname == 6')

print(bird_sub.shape)
print(bird_sub.sumdid.nunique())

In [ ]:
# disocvering the total number of scooters available on each platform and stationary volume breakdown of data

In [ ]:
print(lyft_sub.shape)
print(lyft_sub.sumdid.nunique())

In [ ]:
# disocvering the total number of scooters available on each platform and stationary volume breakdown of data

In [ ]:
print(gotcha_sub.shape)
print(gotcha_sub.sumdid.nunique())

In [ ]:
# disocvering the total number of scooters available on each platform and stationary volume breakdown of data

In [ ]:
print(lime_sub.shape)
print(lime_sub.sumdid.nunique())

In [ ]:
# disocvering the total number of scooters available on each platform and stationary volume breakdown of data

In [ ]:
print(spin_sub.shape)
print(spin_sub.sumdid.nunique())

In [ ]:
# disocvering the total number of scooters available on each platform and stationary volume breakdown of data

In [ ]:
print(jump_sub.shape)
print(jump_sub.sumdid.nunique())

In [ ]:
# disocvering the total number of scooters available on each platform and stationary volume breakdown of data

In [ ]:
print(bolt_sub.shape)
print(bolt_sub.sumdid.nunique())

In [ ]:
# disocvering the total number of scooters available on each platform and stationary volume breakdown of data

In [ ]:
# Team Analysis 
# Where are scooters rarely used (1-2 times a day), compare to higher usage (5-7 times) i.e Given the areas of high usage what is ideal density and charge

# Battery charge across scooters i.e If have a scooter that has 100%  charge could that be removed

In [6]:
july_trip.companyName.value_counts()

Bird             44235
Lime             38397
Lyft             28899
SPIN             11685
Bolt Mobility     6759
JUMP              4089
Gotcha             862
Name: companyName, dtype: int64

In [5]:
may_scoot_count = may_trip.sumdID.value_counts()

In [6]:
june_scoot_count = june_trip.sumdID.value_counts()

In [7]:
july_scoot_count = july_trip.sumdID.value_counts()

In [15]:
print(may_scoot_count.head(20))

PoweredUNKNOWN                                 2166
Poweredb671ffe4-2bca-5880-98ec-d36f65aa11a2     600
PoweredWVIAXNCVDNOXP                            338
PoweredR3QXO6TL2HIAB                            291
PoweredRJ7YYJTHAR5N3                            274
PoweredEGRN7CFK6Q6K2                            261
PoweredDJQATZBXPBUAE                            254
PoweredLNAVSI3QKRPVH                            225
Powered75MFAMZCCD3QJ                            222
PoweredKCXMXKUIP3Z4E                            221
PoweredGVLQSJDAXWVPX                            200
Powered7F7SGZH42ZGS7                            196
Powered34ZSQ3V4KEPAS                            195
PoweredRRC5FV6DYYHBL                            193
Powered4FCVKYQ3DTH7H                            191
PoweredLABZO3C5YHDP4                            186
Powered4WOKR5XFN26KV                            185
Powered3XINKE5ALW66Z                            184
Powered3SDFC5NC4XZPZ                            180
PoweredJVORYRHLCRMDH                            180
Name: sumdID, dtype: int64

In [16]:
print(june_scoot_count.head(20))

Poweredb671ffe4-2bca-5880-98ec-d36f65aa11a2    1308
PoweredUNKNOWN                                 1120
PoweredOQ3DRY64KZBYS                            158
PoweredSQWMJWTIGM6DS                            158
Powered3ZPCHCTLNK2WR                            144
PoweredOQYNOUBQPNGUS                            139
Powered5QBZSLFMLMLQU                            135
Powered7UN7P27A5HR5H                            133
PoweredOWWGOR5KA6ZLV                            133
PoweredSJTYATG4FVICD                            133
Powered57NZJYNTN4KT4                            132
PoweredMSUABN2YMDFWK                            132
Powered3WD63MPJQERKZ                            131
Powered2WZ4JPUCZFXN5                            131
PoweredZ4WPML62Z56WJ                            131
PoweredLWRRVABRUKJZZ                            130
PoweredFOC4N7EUJUNHM                            130
PoweredIFJIBG3QHYXWB                            130
Powered2ZW44BAIKSF7F                            129
PoweredPC6QPCO4BH7O3                            129
Name: sumdID, dtype: int64

In [12]:
print(july_scoot_count.head(20))

PoweredUNKNOWN          327
Powered5N5J5BJDODHYX    141
PoweredOEHCPCAUHESR5    134
PoweredIHGSNSRXCZ2ZG    128
Powered5BW4GPYGBMUTL    126
Powered7FV7FFP2MV66S    125
PoweredMKPBZS2PEITKN    123
Powered25WTY4ODS5QZ7    123
PoweredPAVHVTUPMTOOG    121
PoweredMWA2NEKTFGT6H    121
PoweredLAXX65AIGQ27Q    119
PoweredFE7MM22M6BBJV    119
PoweredTBGIRQ5IOW2KR    119
PoweredVW4PNNV3UKVWX    118
PoweredTN6NH2B55D7TI    117
PoweredC373KUYMR64SA    116
PoweredSMG5U52YHYNGL    116
PoweredTUYG2UYJLVFQE    116
PoweredHNVQAAX6ZNBXF    115
PoweredVMGURJPXEXEOF    115
Name: sumdID, dtype: int64

In [8]:
june_scoot_count.tail(100)

Powered28517c12-03b2-5f4b-bf7c-eb62ca24430e    1
Powered13f54709-8d66-5220-a9a8-cbc74248c70a    1
Powered70e93b4e-0895-59ac-b16d-1b53f04c1dc3    1
Powered2a359e75-e564-57a2-b36f-af22969c257a    1
Powered4318163                                 1
                                              ..
Powered4CNJQ                                   1
PoweredUEYJC3G7DZEHP                           1
Powered2549968                                 1
Powered8d26b649-c9af-505d-a2b1-7f289fa89ae6    1
PoweredQTMM5                                   1
Name: sumdID, Length: 100, dtype: int64